body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height: 100%;
    margin-top: 20px;
}
.header{
    a{
        text-decoration: none;
        h5{
            color: black;
            margin-left: 70px;
        }
    }
    // img{
    //     text-align: center;
    //     position: relative;
    //     display: block;
    //     margin-left: auto;
    //     margin-right: auto;
    //     width: 810px;
    //     height: 450px;
    // }
    // p, button{
    //     position: absolute;
    //     top: 35%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }
    // button{
    //     margin-top: 80px;
    //     background-color: #0026ff;        
    //     border: none;
    //     color: white;
    //     padding: 10px 32px;
    //     text-align: center;
    //     text-decoration: none;
    //     display: inline-block;
    //     font-size: 16px;
    //     cursor: pointer;
    //     border-radius: 4px;
    // }
    // button:hover {
    //     box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
    // }
    // p{
    //     color: white;
    //     font-size: 70px
    // }
}
.centerInput{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    box-shadow: 0 0 4px 1px silver;
    border: solid silver 1px;
    width: 100%;
    height: 50px;
    .magnifier{
        img{
            margin-top: 10px;
            margin-left: 10px;
            width: 25px;
            height: 25px;
            outline: none;
            border: none;
        }
        
    }
    input{
        color: rgba(128, 128, 128, 0.801);
        outline: none;
        border: none;
        width: 695px;
        height: 100%;
    }
    .rith{
        .burger, .settings{
            
            margin-right: 10px;
            float: right;
            margin-top: 6px;
            background-color: rgb(0,38,255);
            height: 35px;
            width: 35px;
            border-radius: 50%;
            img{
                filter: invert(100%); 
                margin-top: 7px;
                width: 20px;
                height: 20px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .settings:hover, .burger:hover{
            box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
        }
    }
}
.centrCard{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card{
        border-radius: 10px;
        margin-top: 35px;
        width: 250px;
        min-height: 350px;
        border: solid rgba(192, 192, 192, 0.623) 1px;
        box-shadow: 0 0 15px 5px #bdbbbb54;
        .zone{
            display: flex;
            width: 100%;
            height: 200px;
            .photo{
                margin-top: 20px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                
                height: 90%;
            }            
            .svg{
                margin-top: 10px;
                margin-right: 10px;
                right: 0;
                position: absolute;
            }
        }
    }
    .text{
        height: 20%;
        width: 100%;
        margin-top: 40px;
        height: 32px;
        h4, p{
            text-align: center;
        }
        p{
            img{
                border: solid green 1px;
                border-radius: 50%;
                fill: rgb(79, 82, 79);
            }
        }
    }
    .button{
        button{
            margin-left: 50px;
            margin-top: 80px;
            background-color: #0026ff;        
            border: none;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }
        button:hover {
            box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
        }
        .ButtonNone{
            margin-left: 50px;
            margin-top: 80px;
            background-color: #6b6b6e;        
            border: none;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }
    }
    .footerCard{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width: 100%;
        height: 70px;
        border-radius: 0 0 9px 9px;
        background-color: rgb(218,226,234);
        .left{
            width: 15%;
            height: 100px;
            img{
                margin-left: 4px;
                margin-top: 10px;
            }
        }
        .center{
            width: 60%;
            height: 100px;
            p{
                margin-top: 20px;
                font-size: 12px;
                line-height: 1px;
            }
        }
        .right{
            width: 20%;
            height: 100px;
            p{  
                margin-top: 13px;
                font-size: 12px;
                text-align: center;
            }
        }
    }
}

.modal{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: .5);
    display: none;
    justify-content: center;
    align-items: center;
    &__container{
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 800px;
        height:450px;
        background: white;
        border-radius: 5px;
    }
    
    .pfotoModal{
        width: 800px;
        height: 450px;
        display: flex;
        align-items: center;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 250px;
        }
    }
    .ModalInfo{
        padding-top: 30px;
        padding-left: 50px;
        border: solid silver 2px ;
        border-width: 0 1px 0 1px;
        width: 800px;
        height: 450px;
        
        .name{
            font-weight: bold; 
            font-size: 25px;
        }
        .paragraf{
            margin-top: 20px;
            p{
                color: rgb(110, 107, 107);
                font-size: 13px;
                line-height: .5;
            }
            li{
                margin-top: 20px;
                font-size: 12px;
                line-height: 1px;
                list-style-type: none
            }
        }
        .blockModal{
            margin-left: 0px;
            .CardsModal{
                display: flex;
                justify-content: center;
                margin-top: 15px;
                width: 240px;
                height: 70px;
                border-radius: 9px;
                background-color: rgb(218,226,234);
                .left{
                    width: 15%;
                    height: 100px;
                    img{
                        margin-left: 4px;
                        margin-top: 10px;
                    }
                }
                .center{
                    width: 60%;
                    height: 100px;
                    p{
                        margin-top: 20px;
                        font-size: 12px;
                        line-height: 1px;
                    }
                }
                .right{
                    width: 20%;
                    height: 100px;
                    p{  
                        margin-top: 13px;
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .modalPrice{
        width: 550px;
        height:450px;
        display: flex;
        align-items: center;

        .center{
            margin-left: auto;
            margin-right: auto;
            max-width: 250px;
            h2{
                text-align: center;
            }
            p{
                text-align: center;
            }
            button{
                background-color: #0026ff;        
                border: none;
                color: white;
                padding: 10px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                border-radius: 4px;
            }
            button:hover {
                box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
            }
        }
    }
    &.active{
       display: flex;
    }
}


.blockCenter{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.centerInfo{
    width: 625px;
    height: 300px;
    padding-left: 30px;
    padding-right: 30px;
}
.filterLeftInfo{
    width: 250px;
    height: 1000px;
    border: solid silver 2px;
    border-radius: 4px;
    border-radius: 10px;
    margin-top: 35px;
    min-height: 350px;
    border: solid rgba(192, 192, 192, 0.623) 1px;
    box-shadow: 0 0 15px 5px #bdbbbb54;
    .price{
        p{
            text-align: center;
            margin-top: 10px; 
            border: solid rgba(192, 192, 192, 0.623) 1px;
            border-width: 0 0 1px 0;
        }
        .textInput{
            div{
                margin-left: 30px;
            }
            .to{
                margin-top: 10px;
            }
            input{
                border-radius: 4px;
                outline: none;
                border: solid rgba(192, 192, 192, 0.589) 1px;
                width: 120px;
                margin-left: 10px;
            }
            .inputTo{
                margin-left: 30px;
            }
        }
    }
    .color{
        p{
            text-align: center;
            margin-top: 10px; 
            border: solid rgba(192, 192, 192, 0.623) 1px;
            border-width: 1px 0 1px 0;
        }
        .checkbox{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            height: 100%;
            margin-left: 30px;
            .input{
                margin-top: 8px;
                width: 40%;
            }
            label{
                margin-left: 5px;
            }
        }
    }
}






/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.wrapper{
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/slider/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/slider/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
    position: relative;
	padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    p, button{
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        button{
            margin-top: 80px;
            background-color: #0026ff;        
            border: none;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }
        button:hover {
            box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
        }
        p{
            color: white;
            font-size: 70px
        }
}
.slider__item img{
	max-width: 100%;
    position: relative;
}