@charset "UTF-8";
body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  height: 100%;
  margin-top: 20px;
}

.header a {
  text-decoration: none;
}

.header a h5 {
  color: black;
  margin-left: 70px;
}

.centerInput {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  -webkit-box-shadow: 0 0 4px 1px silver;
          box-shadow: 0 0 4px 1px silver;
  border: solid silver 1px;
  width: 100%;
  height: 50px;
}

.centerInput .magnifier img {
  margin-top: 10px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
}

.centerInput input {
  color: rgba(128, 128, 128, 0.801);
  outline: none;
  border: none;
  width: 695px;
  height: 100%;
}

.centerInput .rith .burger, .centerInput .rith .settings {
  margin-right: 10px;
  float: right;
  margin-top: 6px;
  background-color: #0026ff;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.centerInput .rith .burger img, .centerInput .rith .settings img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin-top: 7px;
  width: 20px;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerInput .rith .settings:hover, .centerInput .rith .burger:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
          box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
}

.centrCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.centrCard .card {
  border-radius: 10px;
  margin-top: 35px;
  width: 250px;
  min-height: 350px;
  border: solid rgba(192, 192, 192, 0.623) 1px;
  -webkit-box-shadow: 0 0 15px 5px #bdbbbb54;
          box-shadow: 0 0 15px 5px #bdbbbb54;
}

.centrCard .card .zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
}

.centrCard .card .zone .photo {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}

.centrCard .card .zone .svg {
  margin-top: 10px;
  margin-right: 10px;
  right: 0;
  position: absolute;
}

.centrCard .text {
  height: 20%;
  width: 100%;
  margin-top: 40px;
  height: 32px;
}

.centrCard .text h4, .centrCard .text p {
  text-align: center;
}

.centrCard .text p img {
  border: solid green 1px;
  border-radius: 50%;
  fill: #4f524f;
}

.centrCard .button button {
  margin-left: 50px;
  margin-top: 80px;
  background-color: #0026ff;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.centrCard .button button:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
          box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
}

.centrCard .button .ButtonNone {
  margin-left: 50px;
  margin-top: 80px;
  background-color: #6b6b6e;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.centrCard .footerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 100%;
  height: 70px;
  border-radius: 0 0 9px 9px;
  background-color: #dae2ea;
}

.centrCard .footerCard .left {
  width: 15%;
  height: 100px;
}

.centrCard .footerCard .left img {
  margin-left: 4px;
  margin-top: 10px;
}

.centrCard .footerCard .center {
  width: 60%;
  height: 100px;
}

.centrCard .footerCard .center p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1px;
}

.centrCard .footerCard .right {
  width: 20%;
  height: 100px;
}

.centrCard .footerCard .right p {
  margin-top: 13px;
  font-size: 12px;
  text-align: center;
}

.modal {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 800px;
  height: 450px;
  background: white;
  border-radius: 5px;
}

.modal .pfotoModal {
  width: 800px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .pfotoModal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}

.modal .ModalInfo {
  padding-top: 30px;
  padding-left: 50px;
  border: solid silver 2px;
  border-width: 0 1px 0 1px;
  width: 800px;
  height: 450px;
}

.modal .ModalInfo .name {
  font-weight: bold;
  font-size: 25px;
}

.modal .ModalInfo .paragraf {
  margin-top: 20px;
}

.modal .ModalInfo .paragraf p {
  color: #6e6b6b;
  font-size: 13px;
  line-height: .5;
}

.modal .ModalInfo .paragraf li {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1px;
  list-style-type: none;
}

.modal .ModalInfo .blockModal {
  margin-left: 0px;
}

.modal .ModalInfo .blockModal .CardsModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 240px;
  height: 70px;
  border-radius: 9px;
  background-color: #dae2ea;
}

.modal .ModalInfo .blockModal .CardsModal .left {
  width: 15%;
  height: 100px;
}

.modal .ModalInfo .blockModal .CardsModal .left img {
  margin-left: 4px;
  margin-top: 10px;
}

.modal .ModalInfo .blockModal .CardsModal .center {
  width: 60%;
  height: 100px;
}

.modal .ModalInfo .blockModal .CardsModal .center p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1px;
}

.modal .ModalInfo .blockModal .CardsModal .right {
  width: 20%;
  height: 100px;
}

.modal .ModalInfo .blockModal .CardsModal .right p {
  margin-top: 13px;
  font-size: 12px;
  text-align: center;
}

.modal .modalPrice {
  width: 550px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modalPrice .center {
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}

.modal .modalPrice .center h2 {
  text-align: center;
}

.modal .modalPrice .center p {
  text-align: center;
}

.modal .modalPrice .center button {
  background-color: #0026ff;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.modal .modalPrice .center button:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
          box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.centerInfo {
  width: 625px;
  height: 300px;
  padding-left: 30px;
  padding-right: 30px;
}

.filterLeftInfo {
  width: 250px;
  height: 1000px;
  border: solid silver 2px;
  border-radius: 4px;
  border-radius: 10px;
  margin-top: 35px;
  min-height: 350px;
  border: solid rgba(192, 192, 192, 0.623) 1px;
  -webkit-box-shadow: 0 0 15px 5px #bdbbbb54;
          box-shadow: 0 0 15px 5px #bdbbbb54;
}

.filterLeftInfo .price p {
  text-align: center;
  margin-top: 10px;
  border: solid rgba(192, 192, 192, 0.623) 1px;
  border-width: 0 0 1px 0;
}

.filterLeftInfo .price .textInput div {
  margin-left: 30px;
}

.filterLeftInfo .price .textInput .to {
  margin-top: 10px;
}

.filterLeftInfo .price .textInput input {
  border-radius: 4px;
  outline: none;
  border: solid rgba(192, 192, 192, 0.589) 1px;
  width: 120px;
  margin-left: 10px;
}

.filterLeftInfo .price .textInput .inputTo {
  margin-left: 30px;
}

.filterLeftInfo .color p {
  text-align: center;
  margin-top: 10px;
  border: solid rgba(192, 192, 192, 0.623) 1px;
  border-width: 1px 0 1px 0;
}

.filterLeftInfo .color .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  margin-left: 30px;
}

.filterLeftInfo .color .checkbox .input {
  margin-top: 8px;
  width: 40%;
}

.filterLeftInfo .color .checkbox label {
  margin-left: 5px;
}

/*Обнуление*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 50px 10px;
  }
}

/* Основные стили */
/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/slider/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/slider/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.slider__item {
  position: relative;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__item p, .slider__item button {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__item button {
  margin-top: 80px;
  background-color: #0026ff;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.slider__item button:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
          box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
}

.slider__item p {
  color: white;
  font-size: 70px;
}

.slider__item img {
  max-width: 100%;
  position: relative;
}
/*# sourceMappingURL=main.css.map */